.col-sm-12
  %h4.lead 
    Создание нового выпуска
    .small Должно быть 45 фотографий в выпуске. Номер выпуска, url, автор - обязательны для заполнения.
  .bs-callout.bs-callout-success
    
    = render 'form'

  