-#%h3 Welcome
-#%p
-#  = link_to 'Users:', users_path
-#  = User.count
-#  registered

#slides
  %ul.slides-container
    %li#one-cool-man
      = image_tag "http://cs402820.vk.me/v402820781/51f2/NSXCNKQf97s.jpg"
      .container.text-center
        %h4{style:"color:#ffffff"} Клавиатурой влево\вправо 

    %li#naked-keira
      = image_tag "http://cdn.thedailybeast.com/content/dailybeast/articles/2014/08/29/are-you-really-surprised-keira-knightley-posed-topless/jcr:content/image.img.2000.jpg/1409346822673.cached.jpg"
      .container.text-center
        %h4 Клавиатурой влево\вправо

    %li#sexy-shakira
      = image_tag "http://static.hdw.eweb4.com/media/wallpapers_1920x1080/celebrities/1/1/shakira-celebrity-hd-wallpaper-1920x1080-3267.jpg"
      .container.text-center
        %h4 Клавиатурой влево\вправо