-#%h3 Welcome
-#%p
-#  = link_to 'Users:', users_path
-#  = User.count
-#  registered

#slides
  %ul.slides-container
    %li
      = image_tag "http://cs402820.vk.me/v402820781/51e9/UU-evcd9Uy0.jpg"
      .container.text-center
        Slide One
    %li
      = image_tag "http://cs402820.vk.me/v402820781/51f2/NSXCNKQf97s.jpg"
      .container.text-center
        Slide Two
