.logo {
  position: absolute;
  top: 5%;
  left: 0;
  width: 462px;
  height: 230px;
  min-width: 462px;
  min-height: 230px;

  padding: 1%;
  padding-left: 2%;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  z-index: 46;
  text-shadow: 0 0 10px #000;
  
  border-top-right-radius: 30pt;
  border-bottom-right-radius: 30px;
  //padding: 2%;
  transition: all 0.5s;
  a, :hover, :focus, :active{
    color: #fff;
    text-decoration: none;
  }
  .title {
    margin-bottom: 11%;
    //text-align: center;
    position: relative;
    font-size: 2em;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 2.2em;
    
    color: #fff;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      //top: 50%;
      bottom: 0%;
      width: 20px;
      height: 3px;
      color: #fff;
      background-color: #fff;
      transition: all 0.2s;
    }
    &:hover{&:before{width: 88%;}}
  }
  .issue-date {
    font-weight: 900;
    text-align: left;
    color: #fff;
    letter-spacing: 6px;

  }
}
.logo.minify {
  //transform: translateX(-55%);
  //&:hover{transform: translateX(0); color: #fff;}
  //color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  left: 5%;
  width: 10%;
  height: 10%;
  min-width: 132px;
  min-height: 66px;
  text-align: center;
  border-top-right-radius: 0;
  border-bottom-left-radius: 38px;
  padding: 0;
  background-color: rgba(#000, 0);
  text-shadow: 0 0 12px rgba(#000, 0.6);
  a{color: $gray-lighter;}
  .title {
    padding: 0;
    font-size: 1.2em;
    line-height: 2em;
    margin: 0;
    letter-spacing: 6px;
    &:before{content: none; width: 0; height: 0;}
    
  }
}

#cd-nav {
  //transform: translateY(100%);
}
#cd-nav.is-visible {
  //transform: translateY(0);
}
#cd-main-nav {
  /* mobile first */
  position: fixed;
  width: 100%;
  //text-align: center;
  //max-width: 450px;
  //padding: 2%;
  //padding-right: 5%;
  height: 80px;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);
  text-shadow: 0 0 10px rgba(0,0,0,1);
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 2px;
  line-height: 80px;
  text-transform: uppercase;
  list-style: none;
  display: inline;
  perspective: 1000px;
  transform: translateY(100%);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
  
  .container {max-width: 940px;}
}


#cd-nav ul li {

  a {
    color: #fff;
    
    &:hover{border-bottom: 1px solid #fff; text-decoration: none;}
    &:focus{text-decoration: none;}

  }
}
 
#cd-main-nav.is-visible {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.3s, visibility 0s 0s;
}
 
.cd-nav-trigger {
  position: absolute;
  bottom: 0;
  //text-align: center;
  //margin-right: 49%;
  //margin-left: auto;
  left: 50%;
  transform: translateX(-50%);
  //right: 0;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  //padding-bottom: 5px;
  border-top-right-radius: 10pt;
  border-top-left-radius: 10pt;
  
  //width: 90px;
  height: 45px;
  //text-align: center;
  //color: rgba(255,255,255,0.6);
  font-size: 32px;
  color: rgba(255,255,255,0.4);
  background-color: rgba(0,0,0,0.4);
  /* image replacement */
  overflow: visible;
  //text-indent: 100%;
  white-space: nowrap;
  z-index: 100;
  transition: all 0.3s;
  line-height: 1;
  &:hover{text-shadow: 0 0 10px #fff;color: rgba(255,255,255,1);cursor: pointer;padding-bottom: 10px; height: 49px;}
  

}
.cd-nav-trigger.is-visible {
  transform: translateY(-80px) translateX(-50%);
}



@media only screen and (min-width: 1170px) {
  //#cd-nav ul {
  //  /* the navigation moves to the top */
  //  position: absolute;
  //  width: auto;
  //  max-width: none;
  //  bottom: auto;
  //  top: 2%;
  //  visibility: hidden;
  //  transform: scale(1);
  //  transition: all 0s;
  //}
 
  //#cd-nav.is-fixed ul {
  //  position: fixed;
  //  width: 90%;
  //  max-width: 400px;
  //  bottom: 20px;
  //  top: auto;
  //  visibility: hidden;
  //  transform: scale(0);
  //}
}


.photo-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  //position: relative;
}
.flexslider{
display: block;
//position: fixed; //fixed or absolute may be needed
height: 100vh!important;
overflow: hidden!important;
width: 100vw!important;
//position: relative;
margin: 0;
border: none;
border-radius: 0;
background-color: #111;
z-index: 1;
}

.flexslider .slides,
.flexslider .slides li{
//width: 100%!important;
//height: 100%!important;
background-size: contain !important;
position: relative;
}

.flexslider .slides img{
//min-height: 100%;
//min-width: 100%;
//max-width: 100%!important; //over ride any existing responsive image styling
margin: 0 auto!important;
}

//.flex-caption {
//    position:absolute;
//    left:50%;bottom:10%;
//    background:rgba(0, 0, 0,0.6);
//    z-index:1;padding:10px;
// }



.flex-direction-nav {
  position: static;
  top: 0;
  display: block;
  //z-index: -1;
  width: 100%;
  height: 100%;
  li {
    height: 100%;
    position: absolute;
    //width: 100%;
    top: 0;
    //z-index: -1;
    button {
      padding: 0;
      margin: 0;
      border: none;
      position: absolute;
      display: block;
      height: 100%;
      width: 4%;
      text-indent: -9999px;
      min-width: 50px;
      top: 0;
      z-index: 99;
      opacity: 0.3;
      &:hover{background-color: rgba(0,0,0,1);}
    }
    button.flex-prev {
      left: 0;
      //background-position: 40% 50%;
      opacity: 0.3;
      outline: 0;
      transition: all 0.5s;
      background: image_url('arleft.png') 43% 50% no-repeat;
      overflow: hidden;
      &:before{content: none;}
      &:hover{background-color: rgba(#000,0.4);}
    }
    button.flex-next {
      right: 0;
      opacity: 0.3;
      outline: 0;
      transition: all 0.5s;
      background: transparent image_url('arright.png') 57% 50% no-repeat;
      overflow: hidden;
      &:before{content: none;}
      &:hover{background-color: rgba(#000,0.4);}
    }
  }
}

.slider-handle {
  background: rgba(#111, 0.8);
  opacity: 1;
  width: 6px;
  height: 14px;
}


.slider.slider-horizontal {
  z-index: 99;
  position: relative;
  .slider-track {
    height: 4px;
    background-color: $gray;
    border-color: $gray;
    color: $gray;
    box-shadow: 0 0 10px #fff;
    margin-top: -3px;
  }

  .slider-handle{
    margin-left: -3px;
    background-color: $gray-lighter;
  }
  &:before {
      content: "1";
      color: #fff;
      position: absolute;
      top: -150%;
      left: -5%;
  }
  &:after {
    content: "45";
    color: #fff;
    position: absolute;
    top: -150%;
    right: -11%;
  }
}

    button.flex-prev {
      padding: 0;
      margin: 0;
      border: none;
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      height: 100%;
      width: 4%;
      //background-position: 40% 50%;
      opacity: 0.3;
      outline: 0;
      transition: all 0.5s;
      background: image_url('arleft.png') 43% 50% no-repeat;
      overflow: hidden;
      &:before{content: none;}
      &:hover{background-color: rgba(#000,0.4);}
    }
    button.flex-next {
      padding: 0;
      margin: 0;
      border: none;
      position: absolute;
      display: block;
      top: 0;
      height: 100%;
      width: 4%;
      right: 0;
      opacity: 0.3;
      outline: 0;
      transition: all 0.5s;
      background: transparent image_url('arright.png') 57% 50% no-repeat;
      overflow: hidden;
      &:before{content: none;}
      &:hover{background-color: rgba(#000,0.4);}
    }