.logo {
  position: absolute;
  bottom: 20%;
  left: 7%;

  //width: 462px;
  //height: 230px;
  //min-width: 462px;
  //min-height: 230px;
  //font-family: "Segoe UI Light";
  //padding: 1%;
  //padding-left: 2%;
  //background-color: rgba(0,0,0,0.4);
  color: #fff;
  z-index: 100;
  text-shadow: 0 2px 6px  #000;
  
  //border-top-right-radius: 10pt;
  //border-bottom-right-radius: 10px;
  //padding: 2%;
  //transition: all 0.5s;
  a, :hover, :focus, :active{
    color: #fff;
    text-decoration: none;
  }
  .title {
    //margin-bottom: 11%;
    //text-align: center;
    position: relative;
    font-size: 3.4em;
    letter-spacing: 6px;
    //text-transform: uppercase;
    text-shadow: 0 2px 10px  #000;
    font-weight: 500;
    line-height: 1.4em;
    color: #fff;
    &:hover {
      text-shadow: 0 2px 6px  #000;
    }
    &:before{
      content: "";
      position: absolute;
      left: 0;
      //top: 50%;
      bottom: 0%;
      width: 22px;
      height: 4px;
      color: #fff;
      background-color: #fff;
      transition: all 0.2s;
    }
    
  }
  .issue-date {
    font-weight: 500;
    text-align: left;
    color: #fff;
    letter-spacing: 2px;
    //font-size: 2em;
    .small {color: #fff;}
  }
}
.logo.minify {
  //transform: translateX(-55%);
  //&:hover{transform: translateX(0); color: #fff;}
  //color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  left: 6%;
  width: 10%;
  height: 10%;
  min-width: 132px;
  min-height: 66px;
  text-align: center;
  border-top-right-radius: 0;
  border-bottom-left-radius: 38px;
  padding: 0;
  background-color: rgba(#000, 0);
  text-shadow: 0 0 12px rgba(#000, 0.6);
  a{color: $gray-lighter;}
  .title {
    padding: 0;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 2em;
    margin: 0;
    letter-spacing: 6px;
    &:before{content: none; width: 0; height: 0;}
    
  }
}

#cd-nav {
  //transform: translateY(100%);
}
#cd-nav.is-visible {
  //transform: translateY(0);
}
#cd-main-nav {
  /* mobile first */
  position: absolute;
  width: 100%;
  //text-align: center;
  //max-width: 450px;
  //padding: 2%;
  //padding-right: 5%;
  height: 80px;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 100;
  background-color: rgba(#000,0.3);
  text-shadow: 0 0 10px rgba(0,0,0,1);
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  display: inline;
  perspective: 1000px;
  transform: translateY(100%);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
  
  //.container {max-width: 992px;}
  ul li:last-child {
    margin-left: 15px;
    margin-right: 15px;
    //width: 300px;
    float: none;
    .slider.slider-horizontal{ &:before, &:after{top:-50%;}}
  }
}


#cd-nav ul li {
  padding-right: 2px;
  padding-left: 2px;
  a {
    color: #fff;
    
    &:hover{border-bottom: 1px solid #fff; text-decoration: none;}
    &:focus{text-decoration: none;}

  }
}
 
#cd-main-nav.is-visible {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.3s, visibility 0s 0s;
}
 
.cd-nav-trigger {
  position: absolute;
  bottom: 0;
  //text-align: center;
  //margin-right: 49%;
  //margin-left: auto;
  left: 50%;
  transform: translateX(-50%);
  //right: 0;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  //padding-bottom: 5px;
  border-top-right-radius: 4pt;
  border-top-left-radius: 4pt;
  
  //width: 90px;
  height: 45px;
  //text-align: center;
  //color: rgba(255,255,255,0.6);
  font-size: 32px;
  color: rgba(255,255,255,0.6);
  background-color: rgba(#000,0.3);
  /* image replacement */
  overflow: visible;
  //text-indent: 100%;
  white-space: nowrap;
  z-index: 100;
  transition: all 0.3s;
  line-height: 1;
  &:hover{text-shadow: 0 0 10px #fff;color: rgba(255,255,255,1);cursor: pointer;padding-bottom: 10px; height: 49px;}
  

}
.cd-nav-trigger.is-visible {
  transform: translateY(-80px) translateX(-50%);
}



@media(min-width: 992px) {
  #cd-main-nav {
    letter-spacing: 2px;
    line-height: 80px;
    text-align: left;
    ul li:last-child {
      .slider.slider-horizontal{ &:before, &:after{top:-150%;}}
      float: right;
      //text-align: center;
    }
  }
  .logo .title {
    font-size: 6em;
  }
}



.slider-handle {
  background: rgba(#111, 0.8);
  opacity: 1;
  width: 6px;
  height: 14px;
}


.slider.slider-horizontal {
  //z-index: 100;
  position: relative;

  .slider-track {
    height: 4px;
    background-color: $gray;
    border-color: $gray;
    color: $gray;
    box-shadow: 0 0 10px #fff;
    margin-top: -3px;
  }

  .slider-handle{
    margin-left: -3px;
    background-color: $gray-lighter;
  }
  &:before {
      content: "1";
      color: #fff;
      position: absolute;
      top: -150%;
      left: -5%;
  }
  &:after {
    content: "45";
    color: #fff;
    position: absolute;
    top: -150%;
    right: -11%;
  }
}

    .flex-prev {
      z-index: 100;
      padding: 0;
      margin: 0;
      border: none;
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      height: 100%;
      width: 6%;
      //background-position: 40% 50%;
      opacity: 0.8;
      outline: 0;
      transition: all 0.5s;
      background: image_url('arleft.png') 43% 50% no-repeat;
      overflow: hidden;
      &:before{content: none;}
      &:hover{background-color: rgba(#000,0.3);}
    }
    .flex-next {
      z-index: 100;
      padding: 0;
      margin: 0;
      border: none;
      position: absolute;
      display: block;
      top: 0;
      height: 100%;
      width: 6%;
      right: 0;
      opacity: 0.8;
      outline: 0;
      transition: all 0.5s;
      background: transparent image_url('arright.png') 57% 50% no-repeat;
      
      overflow: hidden;
      &:before{content: none;}
      &:hover{background-color: rgba(#000,0.3);}
    }