/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
    background-color: #111111;
    background-size: cover !important;
}

/* fullscreen setup */
body, main, .section {
    /* give this to all tags from html to .fullscreen */
    height:100%;
    
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;

}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    position: relative;
    display:inline-block;
    text-align: right;
    //padding-bottom: 35%;
    //padding-right: 6%;
    //bottom: 25%;
    //right: 6%;

}
.content-b {
  
    max-width: 450px;
    position: absolute;
    //float: right;
    //margin-left: 60%;
    top: 65%;
    right: 7%;
    //display:inline-block;
    //background-color: rgba(0,0,0,0.4);
    //padding: 0 auto;
    color: #fff;
    //position:relative;
    //vertical-align:bottom;
    text-align:right;
    //box-shadow: 0 0 20px 10px rgba(0,0,0,0.4);
    p {

      display: inline-block;
      background-color: rgba(#000,0.3);
      //width: auto;
      //font-size: 1em;
      font-weight: 500;
      //text-align:right;
      //text-justify: inter-word;
      //line-height: 1.4em;
      //padding: 4px;
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
      padding-top: 4px;
      margin: 0 auto;
      //margin: 15px;
      //text-shadow: 0 0 10px #000;
      //background-color: rgba(#111, 0.4);
      border-radius: 4pt;
        a { 
          color: $gray-lighter; 
          text-decoration: none;
          font-weight: 100;
          
          &:hover, :focus, :active {
            transition: all 0.25s;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            text-shadow: 0 0 3px #fff;
            //text-decoration: underline;
            //font-size: 0.9em;
          }
        }
      span a {
        color: $gray-light;
          &:hover, :focus, :active {
            transition: all 0.25s;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            text-shadow: 0 0 3px #fff;
            //text-decoration: underline;
            //font-size: 0.9em;
          }
      }
    }

}

.random-photos-container {
  position: relative;
}

.photos-flexbox {
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: 7%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  height: 100vh;
  //padding-top: 10%;
  //padding-top: 10%;
}

.random-photo {
  position: relative;
  margin: 2%;
  width: 70%;
  max-height: 32%;
  border-radius: 4pt;
  box-shadow: 0 2px 15px  #000;
  transition: all .25s;
  &:hover{box-shadow: 0 2px 5px #000;}
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 4%;
    background-color: rgba(#000, 0.3);
    text-align: right;
    font-size: 1em;
    color: $gray-lighter;
    text-shadow: 0 0 4px #000;
    font-weight: 600;
    border-bottom-left-radius: 3pt;
    border-bottom-right-radius: 3pt;
  }
  img {border-radius: 4pt;}
}

