/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
    background-color: #111111;
    background-size: cover !important;
}

/* fullscreen setup */
body, main, .section {
    /* give this to all tags from html to .fullscreen */
    height:100%;
    
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;

}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    position: relative;
    display:inline-block;
    text-align: right;
    //padding-bottom: 35%;
    //padding-right: 6%;
    //bottom: 25%;
    //right: 6%;

}
.content-b {
  
    max-width: 450px;
    position: absolute;
    //float: right;
    //margin-left: 60%;
    top: 70%;
    right: 6%;
    //display:inline-block;
    //background-color: rgba(0,0,0,0.4);
    //padding: 0 auto;
    color: $gray-lighter;
    //position:relative;
    //vertical-align:bottom;
    text-align:right;
    //box-shadow: 0 0 20px 10px rgba(0,0,0,0.4);
    p {

      display: inline-block;
      background-color: rgba(0,0,0,0.4);
      //width: auto;
      //font-size: 1em;
      font-weight: 500;
      //text-align:right;
      //text-justify: inter-word;
      //line-height: 1.4em;
      //padding: 4px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      margin: 0 auto;
      //margin: 15px;
      text-shadow: 0 0 10px #000;
      //background-color: rgba(#111, 0.4);
      border-radius: 10pt;
        a, :hover, :focus, :active {
          color: $gray-lighter;
          cursor: pointer;
          //text-decoration: underline;
          //font-size: 0.9em;
        }
      span {
        padding: 0.2em;
        transition: all 0.5s ease;

        a, :hover, :focus, :active {
          color: $gray-lighter;
          //text-decoration: underline;
          //font-size: 0.9em;
        }
      }
      //&:hover {
      //  span {
      //    background-color: rgba(#000,0.6);
      //    box-shadow: 0.2em 0 0 rgba(#000,0.6), -0.2em 0 0 rgba(#000,0.6);
      //    
      //  }
      //}
    }

}