#aboutModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "aboutModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true",style:"color:#fff;"} ×
        %h4#myModalLabel.modal-title О проекте
      .modal-body
        %p
          People's Photo - это журнал, посвященный фотоработам людей, которых объединяет любовь к фотографии. Здесь каждые полмесяца выходит новый номер. Авторами фотографий становятся сами читатели - отправить фото может любой желающий. Главное, чтобы Ваша фотография была не повседневной, красивой, была фотографией, которой хочется делится. Она должна завораживать.
        %p
          Журнал будет интересен людям, которые занимаются фотосъемкой, хотят наблюдать и просто любят нечто красивое. Тут можно найти описание к работам, в том числе, на что и как была сделана конкретная фотография. Для авторов - это хорошая возможность показать людям, каким должно быть фото.

      .modal-footer
      -#  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} ×
    
