#aboutModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "aboutModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content{style: "background-color:rgba(0,0,0,0.5); color:#ffffff; font-size:14px;font-weight:500; border-radius:4pt; border-color:none;border:none;" }
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true",style:"color:#fff;"} ×
        %h4#myModalLabel.modal-title{style:"color:#fff;"} О проекте
      .modal-body
        %p
          Стоял жаркий солнечный день, и Луис не знал, куда деть оставшееся до встречи время. Целых три с половиной часа предстояло ему провести на горячих улицах Мадрида без единого гроша в кармане и, разумеется, без воды. Думая о недавних событиях, Луис постоянно вспоминал следующую историю:
        %p
          Стоял жаркий солнечный день, и Луис не знал, куда деть оставшееся до встречи время. Целых три с половиной часа предстояло ему провести на горячих улицах Мадрида без единого гроша в кармане и, разумеется, без воды. Думая о недавних событиях, Луис постоянно вспоминал следующую историю:
        %p
          Стоял жаркий солнечный день, и Луис не знал, куда деть оставшееся до встречи время. Целых три с половиной часа предстояло ему провести на горячих улицах Мадрида без единого гроша в кармане и, разумеется, без воды. Думая о недавних событиях, Луис постоянно вспоминал следующую историю:...

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Закрыть
          
