#aboutModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "aboutModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content{style: "background-color:rgba(0,0,0,0.5); color:#ffffff; font-size:14px;font-weight:500; border-radius:4pt; border-color:none;border:none;" }
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true",style:"color:#fff;"} ×
        %h4#myModalLabel.modal-title{style:"color:#fff;"} О проекте
      .modal-body
        %p
          People's Photo - это журнал, посвященный фотоработам людей, которых объединяет любовь к фотографии. Здесь каждые пол-месяца выходит новый номер журнала. Авторами фотографий становятся сами читатели, отправить фото может любой желающий, главное что бы Ваша фотография, была не повседневной, красивой, была  фотографией, которой хочется делится. Фотография должна завораживать.
        %p
          Журнал будет интересен людям, которые занимаются фотосъемкой, хотят наблюдать и просто любят нечто красивое. Тут можно найти описание к работам, в том числе на что и как была сделана конкретная фотография. Для авторов - это хорошая возможность показать людям, каким должно быть фото.

      .modal-footer
      -#  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} ×
          
