#addPhotoModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addPhotoModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content{style: "background-color:rgba(0,0,0,0.5); color:#fff; font-size:14px;font-weight:500; border-radius:4pt; border-color:none;border:none;" }
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true",style:"color:#fff;"} ×
        %h4#myModalLabel.modal-title{style:"color:#fff;"} Отправить свою работу
      .modal-body
        %form.form-horizontal
          %fieldset
            .form-group
              %label.col-lg-2.control-label{:for => "inputText"} Фото
              .col-lg-10
                %input#inputEmail.form-control{:placeholder => "Фото", :type => "text"}/
                %span.help-block Например: http://cs623331.vk.me/v623331232/1013a/j2jJbmj3L-0.jpg
            .form-group
              %label.col-lg-2.control-label{:for => "inputText"} Ваше имя
              .col-lg-10
                %input#inputPassword.form-control{:placeholder => "Как вас зовут?", :type => "text"}/
            .form-group
              %label.col-lg-2.control-label{:for => "inputEmail"} Ваш почтовый адрес
              .col-lg-10
                %input#inputPassword.form-control{:placeholder => "Email", :type => "email"}/

            .form-group
              %label.col-lg-2.control-label{:for => "textArea"} Описание фотографии
              .col-lg-10
                %textarea#textArea.form-control{:rows => "3"}
                %span.help-block Тут может быть достаточно длинное пояснение.
                -#.checkbox
                -#  %label
                -#    %input{:type => "checkbox"}/
                -#    Хочу подписаться на обновления!

      .modal-footer
        -#%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Закрыть
        %button.btn.btn-success{:type => "button"} Отправить