#cd-nav
  .cd-nav-trigger
    %i.glyphicon.glyphicon-th
    
  %nav#cd-main-nav
    %ul.list-inline
      %li
        = link_to '#', {"data-target" => "#aboutModal", "data-toggle" => "modal", :type => "button"} do
          О проекте
      %li 
        |
      %li
        / Button trigger modal
        = link_to "#", {"data-target" => "#addPhotoModal", "data-toggle" => "modal", :type => "button"} do
          Фото
      %li 
        |
      %li=link_to 'Valhalla', '#' 