#cd-nav
  = link_to '#menu', class: "cd-nav-trigger" do
    %i.glyphicon.glyphicon-th
    
  %nav#cd-main-nav
    %ul.list-inline
      %li=link_to 'About', '#'
      %li=link_to 'Send Photo', '#'
      %li=link_to 'Valhalla', '#' 