#cd-nav
  .cd-nav-trigger
    %i.fa.fa-bars
    
  %nav#cd-main-nav
    %ul.list-inline
      %li
        = link_to '#', {"data-target" => "#aboutModal", "data-toggle" => "modal", :type => "button"} do
          О журнале
      %li 
        |
      %li
        / Button trigger modal
        = link_to "#", {"data-target" => "#addPhotoModal", "data-toggle" => "modal", :type => "button"} do
          Отправить фото
      %li 
        |
      %li=link_to 'FAQ', '#'  
      %li
        |
      %li=link_to 'Авторские права', '#' 