#copyrightsModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "copyrightsModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true",style:"color:#fff;"} ×
        %h4#myModalLabel.modal-title Авторские права
      .modal-body
        %p
          Ваши фотографии будут использоваться редакцией только в пределах журнала People's Photo, и его представительств (официальная группа в VK например), работы размещаются на портале только с указанием авторства. После того как Вы отправили фото, мы можем связаться с вами в сети, которую Вы указали, для подтверждения авторства материала.
        %p  
          К сожалению, бывают и обманщики, которые могут прислать не свою работу, журнал не может на 100% противостоять таким людям, даже не смотря на систему контроля фото контента. К сожалению, ответственность за действия мошенников журнал не несет.
        %p  
          Если вы вдруг увидели свою работу, подписанную чужим авторством, напишите нам на почту itsmyphoto@peoplesphpto.ru, укажите фотографию, Ваш профиль, приложите оригинал фото (приложение файла (архива) с фотографией оригинального расширения сделает рассмотрение Вашей заявки быстрее)и что Вы хотите сделать: изменить авторство и отредактировать описание фото или немедленно удалить фото-работу из журнала. Спасибо за сотрудничество!

      .modal-footer
      -#  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} ×
    