#copyrightsModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "copyrightsModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true",style:"color:#fff;"} ×
        %h4#myModalLabel.modal-title Авторские права
      .modal-body
        %p
          Текст в разработке.

      .modal-footer
      -#  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} ×
    